
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-toggle/css/bootstrap-toggle";
@import "node_modules/select2/src/scss/core.scss";
@import "node_modules/gijgo/css/gijgo";


/************************************************************/
/**************  SELECT2 FIX FOR BOOTSTRAP ******************/
/************************************************************/
.select2-container--default .select2-selection--single {
    outline: none !important;
    border: 1px solid #ced4da;
    height: 38px;
    padding: 5px;
    .select2-selection__arrow {
        top: 6px;
    }
}
.select2-container--default .select2-search--dropdown {
    .select2-search__field {
        border: 1px solid #ced4da;
    }
    .select2-search__field:focus {
        outline: none !important;
        border:1px solid $primary;
        box-shadow: 0 0 10px $primary;
    }
}

/************************************************************/
/******************** MAIN PAGE BODY ************************/
/************************************************************/
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

main {
    background-image: url("~/img/settings/background_right.png"), url("~/img/settings/background_left.png");
    background-size: auto 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, bottom left;
    background-attachment:fixed;
    background-color: #f1e7d6;
    width: 100%;
    padding-top: 0px;
    flex-grow : 1;
}

.main-container {
    background-color: rgba(241,231,214,0.9);
    padding: 30px;
    min-height: 100%;
}
@include media-breakpoint-down(sm) {
    .main-container {
        padding: 15px;
    }
}

.d-grow {
    flex-grow: 1;
}
/************************************************************/
/******************  HEADER AND FOOTER **********************/
/************************************************************/
header {
    display: inline-block;
}
.logo-header {
    background-color: white;
    border-bottom: 3px solid $primary;
    div {
        text-align: center;
        h1 {
            font-size: 1.5em;
        }
        img {
            height: 30px;
            width: auto;
        }
    }
}
.navbar {
    display: inline-block;
}
/************************************************************/
/***********************  DATA PAGES ************************/
/************************************************************/
.data-page-content{
    img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    p {
        text-align: justify;
    }
    .row {
        margin-top: 20px;
    }
}

/************************************************************/
/***************  SEARCH AND RESULT PAGES *******************/
/************************************************************/
.empty-result-list {
    height: 55vh;
}

.link-avanzada, .link-simple, .link-todos {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 1.7em;
}

.results-container {
    .no-results {
        text-align: center;
        font-size: 1.8em;
        color: #555;
        margin-top: 30px;
    }
    .institucion-list-result-container {
        margin: 30px 0;
    }
    .list-data .media {
        background-color: white;
        border: 1px solid $primary;
        border-radius: 5px;
        margin: 5px 0 5px 40px;
        padding: 5px 20px;
    }
}

.search-container {
    form {
        margin-top: 20px;
    }
    label {
        font-weight: bolder;
    }
}

.item-detail {
    .tipo {
        color: $primary;
    }
    .item-detail-element
    {
        font-size: 1.2em;
        .icon { color: $primary; width: 30px; text-align: center; }
        .value { font-weight: bolder; }
    }
    .item-detail-collapse .card-title {
        font-weight: bolder;
        color: $primary;
    }
    .heading {
        margin-bottom: 30px;
        .go-back {
            text-align: right;
        }
    }
}
@include media-breakpoint-up(lg) {
    .item-detail .heading .go-back {
        text-align: center;
    }
}
@media screen {
    .item-detail {
        .responsables, .articulacion {
            margin-top: 10px;
        }
        .mas-informacion {
            display: none;
        }
        .mas-informacion-buttons, .extra-data,
        .mas-informacion-boxes .collapse, .mas-informacion-boxes .collapsing {
            margin-top: 20px;
        }
    }
}
@media print {
    .item-detail {
        .collapse {
            display: inline-block;
        }
        .btn {
            display: none;
        }
        .titles {
            width: 100%;
        }
        .go-back {
            display: none;
        }
    }
    .mas-informacion-boxes .collapse {
        margin: 0 0.2cm;
    }
    .navbar {
        display: none !important;
    }
    footer {
        display: none !important;
    }
    .no-print, .no-print * {
        display: none !important;
    }
}
/************************************************************/
/*********************  UPLOAD PAGE *************************/
/************************************************************/
.carga-container {
    form {
        margin-top: 20px;
    }
    label {
        font-weight: bolder;
    }
    .button-wizard-start {
        .btn {
            width: 100%;
            margin: 15px;
            white-space: normal;
        }
    }
    .button-wizard-bottom .btn {
        margin: 15px;
        span {
            vertical-align: middle;
        }
    }
}

.carga-wizard-section {
    border: 3px solid $primary;
    border-radius: 10px;
    padding: 30px 10px 10px 10px;
    position: relative;
    margin-bottom: 30px;
    .carga-wizard-section-title {
        background-color: $primary;
        color: $light;
        position: absolute;
        padding: 2px 5px;
        top: -15px;
        left: 15px;
        border-radius: 5px;
    }
}

.form-text.text-info {
    margin-top: 0;
    margin-left: 5px;
    font-size: 0.7em;
}

#bread-actions .show-related {
    margin-left: 5px;
    cursor: pointer;
}

