// Fonts

@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "variables";

.app-container .content-container .side-menu:hover {
  width: 300px;
}

.panel-body .select2-selection,
.toggle.btn {
  border: 1px solid #e4eaec;
}

#bread-actions {
  .view,
  .validate,
  .restore {
    margin-left: 5px;
    cursor: pointer;
  }
}

.voyager .btn-group-sm > .btn.btn-info,
.voyager .btn.btn-sm.btn-info,
.voyager .btn.btn-info {
  background: mediumpurple;
}

#dataTable #bread-actions a.btn.btn-info,
.actions a.btn.btn-info {
  padding: 4px 10px;
}

#dataTable > tbody > tr > td {
  vertical-align: middle;
}
.page-content.read {
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.analytics-container {
  display: none;
}

.widget {
  a.btn.btn-primary,
  i.notification {
    background-color: $primary;
  }
}

.chart-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .item-detail {
    .collapse {
      display: inline-block;
    }
    .btn {
      display: none;
    }
    .titles {
      width: 100%;
    }
    .go-back {
      display: none;
    }
  }
  .mas-informacion-boxes .collapse {
    margin: 0 0.2cm;
  }
  .navbar {
    display: none !important;
  }
  footer {
    display: none !important;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
  .stats {
    .chart-container {
        width: 180mm;
    }

    canvas#chart {
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        height: auto!important;
        width: auto!important;
    }
  }
  a[href]:after {
    content: none!important;
  }

    .table-responsive {
        width: 200mm!important;
        page-break-before: always,
    }

    table#dataTable {
        width: 80%!important;
    }
}
