<template>
    <div class="collapse form-row" ref="collapsible">
        <div class="col-md">
            <slot name="pais"></slot>
        </div>
        <div class="col-md">
            <slot name="region"></slot>
        </div>
        <div class="col-md">
            <slot name="provincia"></slot>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            // Show by default
            $(this.$refs['collapsible']).collapse('show');
        },
        computed: {
            pais() { return this.$store.state['selected_pais']; },
            region() { return this.$store.state['selected_region']; },
            provincia() { return this.$store.state['selected_provincia']; },
            institucion() { return this.$store.state['selected_institucion']; },
        },
        watch: {
            institucion (newVal, oldVal) {
                if (newVal != 0) {
                    $(this.$refs['collapsible']).collapse('hide');
                } else {
                    $(this.$refs['collapsible']).collapse('show');
                    this.$store.commit('change_pais', 0);
                }
            }
        }
    }
</script>
<style>
</style>
