<template>
    <div class="form-row" >
        <div class="col-md-3">
            <select2 :name="tipo_de_elemento_name"
                :label="tipo_de_elemento_label"
                :none="tipo_de_elemento_none"
                uses-store="true">
                <slot></slot>
            </select2>
        </div>
        <div class="collapse col-md-9" ref="collapsible_curso">
            <slot name="curso"></slot>
        </div>
        <div class="collapse col-md-3" ref="collapsible_publicacion">
            <slot name="publicacion"></slot>
        </div>
        <div class="collapse col-md-3" ref="collapsible_proyecto">
            <slot name="proyecto"></slot>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['tipo_de_elemento_name', 'tipo_de_elemento_label', 'tipo_de_elemento_none'],
        mounted() {
            $(this.$refs['collapsible_curso']).on('hidden.bs.collapse', () => {
                    this.handleWhatToOpen()
                }
            );
            $(this.$refs['collapsible_publicacion']).on('hidden.bs.collapse', () => {
                    this.handleWhatToOpen()
                }
            );
            $(this.$refs['collapsible_proyecto']).on('hidden.bs.collapse', () => {
                    this.handleWhatToOpen()
                }
            );
        },
        methods: {
            handleWhatToOpen() {
                if (
                    $(this.$refs['collapsible_curso']).hasClass('collapsing') ||
                    $(this.$refs['collapsible_publicacion']).hasClass('collapsing') ||
                    $(this.$refs['collapsible_proyecto']).hasClass('collapsing')
                ) {return;}
                let newVal = $(`select#${this.tipo_de_elemento_name}`).val();
                if (newVal == "curso") {
                    $(this.$refs['collapsible_curso']).collapse('show');
                } else if (newVal == "publicacion") {
                    $(this.$refs['collapsible_publicacion']).collapse('show');
                } else if (newVal == "proyecto") {
                    $(this.$refs['collapsible_proyecto']).collapse('show');
                }
            }
        },
        computed: {
            elemento() { return this.$store.state['selected_tipo_de_elemento']; },
        },
        watch: {
            elemento (newVal, oldVal) {
                $(this.$refs['collapsible_curso']).collapse('hide');
                $(this.$refs['collapsible_publicacion']).collapse('hide');
                $(this.$refs['collapsible_proyecto']).collapse('hide');
                this.handleWhatToOpen();
            }
        }
    }
</script>
<style>
</style>
