<template>
    <div class="form-group">
        <label :for="name">{{ label }}</label>
        <input type="text"
            :id="name" :name="name" :value="value"/>
        <span v-if="tooltip" class="form-text text-info">
            {{ tooltip }}
        </span>
    </div>
</template>
<script>
    export default {
        props: ['name', 'value', 'label', 'tooltip'],
        mounted() {
            // Create datepicker
            this.createDatepicker();
        },
        methods: {
            createDatepicker() {
                this.$datepicker.datepicker({
                    format: 'dd/mm/yyyy',
                    locale: 'es-es',
                    weekStartDay: 1,
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome'
                });
            }
        },
        computed: {
            $datepicker() { return $(`#${this.name}`); },
        }
    }
</script>
<style>
.gj-datepicker-bootstrap [role="right-icon"] button {
    color: #fff;
    background-color: #A42339;
    border-color: #A42339;
}
.gj-datepicker-bootstrap [role="right-icon"] button:hover {
    color: #fff;
    background-color: #841c2e;
    border-color: #7a1a2a;
}
</style>

