<template>
    <div class="collapse" ref="collapsible">
        <div class="form-row">
            <div class="col-md">
                <slot name="pais"></slot>
            </div>
            <div class="col-md">
                <slot name="region"></slot>
            </div>
            <div class="col-md">
                <slot name="provincia"></slot>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <slot name="nombre"></slot>
            </div>
            <div class="col-md-12">
                <slot name="tipo_de_institucion"></slot>
            </div>
            <div class="col-md-9">
                <slot name="direccion"></slot>
            </div>
            <div class="col-md-3">
                <slot name="codigo_postal"></slot>
            </div>
            <div class="col-md-12">
                <slot name="telefono"></slot>
            </div>
            <div class="col-md-12">
                <slot name="email"></slot>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            // Show by default
            if (this.institucion && this.institucion != 0) {
                $(this.$refs['collapsible']).collapse('hide');
            } else {
                $(this.$refs['collapsible']).collapse('show');
            }
            // fix issue with select2 selection
        },
        computed: {
            pais() { return this.$store.state['selected_pais']; },
            region() { return this.$store.state['selected_region']; },
            provincia() { return this.$store.state['selected_provincia']; },
            institucion() { return this.$store.state['selected_institucion_id']; },
        },
        watch: {
            institucion (newVal, oldVal) {
                if (newVal == 0) {
                    $(this.$refs['collapsible']).collapse('show');
                } else {
                    $(this.$refs['collapsible']).collapse('hide');
                    this.$store.commit('change_pais', 0);
                }
            }
        }
    }
</script>
<style>
</style>
