<template>
    <div class="form-group">
        <label :for="name">{{ label }} <span v-if="required" class="text-danger">*</span></label>
        <textarea type="text" class="form-control"
            :id="name" :name="name"
            :placeholder="placeholder"
            v-model="text">
        </textarea>
        <span v-if="tooltip" class="form-text text-info">
            {{ tooltip }}
        </span>
        <span class="form-text" v-bind:class="{
            'text-success': chars_still_remaining(),
            'text-danger': chars_on_limit() || chars_exceeded(),
        }">{{ remaining_text() }}</span>
        <span v-if="error" class="form-text text-danger">{{ error }}</span>
    </div>
</template>
<script>
    export default {
        props: ['name', 'label', 'placeholder', 'error', 'value', 'max', 'text_default', 'text_limit', 'text_exceeded', 'tooltip', 'required'],
        data: function () {
            return {
                remaining: (this.max || 1500) - (this.value ? this.value.length : 0),
                text: this.value,
                defaults: {
                    max: this.max || 1500,
                    remaining: this.text_default || 'Le quedan :chars caracteres dispoibles.',
                    limit: this.text_limit || 'No puede escribir más caracteres.',
                    exceeded: this.text_exceeded || 'Ha excedido el límite de caracteres disponibles. Borre :chars caracteres.'
                }
            }
        },
        created() {

        },
        methods: {
            chars_still_remaining() {
                return this.remaining > 0;
            },
            chars_on_limit() {
                return this.remaining == 0;
            },
            chars_exceeded() {
                return this.remaining < 0;
            },
            remaining_template() {
                if (this.chars_still_remaining()) {
                    return this.defaults.remaining;
                } else if (this.chars_on_limit()) {
                    return this.defaults.limit;
                } else {
                    return this.defaults.exceeded;
                }
            },
            remaining_text() {
                return this.remaining_template().replace(':chars', this.remaining)
            },
        },
        watch: {
            text: function(old_value, new_value) {
                this.remaining = this.defaults.max - this.text.length;
            }
        }
    }
</script>
