<template>
    <div>
        <div class="d-flex flex-column flex" :id="name">

        </div>
        <span v-if="tooltip" class="form-text text-info">
                {{ tooltip }}
        </span>
        <span v-if="error" class="form-text text-danger">
            {{ error }}
        </span>
        <span v-if="fileSizeExceeded" class="form-text text-danger">
            {{ fileSizeExceededMessage }}
        </span>
        <div class="d-flex justify-content-end">
            <button ref="addBtn" type="button" class="mt-2 btn btn-success" @click="addAnotherClicked()"> Agregar otro archivo </button>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['name', 'maxSize', 'maxFiles', 'btnLabel', 'labelNone', 'labelSelected', 'tooltip', 'error', 'fileSizeExceededText'],
        data: function () {
            return {
                not_selected_label: this.labelNone || 'Ningún archivo seleccionado',
                selected_label: this.labelSelected || ':file',
                number_of_inputs: 0,
                fileSizeExceeded : false,
                fileSizeExceededMessage: ''
            }
        },
        mounted() {
            // Create toggle
            this.addFileInput(this.number_of_inputs);
        },
        methods: {
            addAnotherClicked() {
                this.addFileInput(this.number_of_inputs);
            },
            addFileInput(idx) {
                this.$container.append(
                    `<div class="mt-1 input-group">
                        <div class="custom-file form-control">
                            <input type="file" class="custom-file-input" id="${this.name}_${idx}" name="${this.name}[]">
                            <label class="custom-file-label" for="${this.name}_${idx}">${this.not_selected_label}</label>
                        </div>
                        <div class="input-group-append">
                            <button id="del_${this.name}_${idx}" class="btn btn-outline-danger" type="button" disabled>
                                <span class="fa fa-trash">
                            </button>
                        </div>
                    </div>`
                );

                this.$input(idx).change((e) => {
                    this.fileSizeExceeded = false;
                    this.fileSizeExceededMessage = '';
                    var $targetId = parseInt(e.target.id.substr(this.name.length+1, e.target.id.length+1));
                    this.$label($targetId).text(this.selected_label.replace(':file', e.target.files[0].name));
                    this.$deleteBtn($targetId).prop('disabled', false);
                    this.enableIfPreviousAllFilled();
                    this.disableIfMaxReached();
                    if (e.target.files[0].size >this.maxSize * 1000000) {
                        this.fileSizeExceeded = true;
                        this.fileSizeExceededMessage = this.fileSizeExceededText.replace(':filename', e.target.files[0].name)
                        this.removeInputClicked($targetId);
                    }
                });

                this.$deleteBtn(idx).click( (e) => {
                    var $targetId = parseInt(e.target.id.substr(this.name.length+5, e.target.id.length+1));
                    this.removeInputClicked($targetId);
                });
                this.number_of_inputs = this.number_of_inputs + 1;
                this.disableIfMaxReached();
                this.disableIfPreviousNotFilled();
            },
            removeInputClicked(idx) {
                this.$input(idx).off();
                this.$deleteBtn(idx).off();
                this.$input(idx).parent().parent().remove();
                this.relabelAll(idx);
                this.number_of_inputs = this.number_of_inputs - 1;
                if (this.number_of_inputs === 0) {
                    this.addFileInput(this.number_of_inputs)
                }
                this.enableIfMaxUnreached()
            },
            relabelAll(idxRemoved) {
                for (var i = idxRemoved+1; i <= this.number_of_inputs; i++) {
                    this.$input(i).attr('id', `${this.name}_${i-1}`);
                    this.$label(i).attr('for', `${this.name}_${i-1}`);
                    this.$deleteBtn(i).attr('id', `del_${this.name}_${i-1}`);
                }
            },
            disableIfMaxReached() {
                if (this.number_of_inputs >= this.max_inputs) {
                    $(this.$refs.addBtn).prop('disabled', true);
                }
            },
            disableIfPreviousNotFilled() {
                for (var i = 0; i < this.number_of_inputs; i++) {
                    if (!this.$input(i).val()) {
                        $(this.$refs.addBtn).prop('disabled', true);
                    }
                }
            },
            enableIfMaxUnreached() {
                if (this.number_of_inputs < this.max_inputs) {
                    $(this.$refs.addBtn).prop('disabled', false);
                }
            },
            enableIfPreviousAllFilled() {
                var all = true;
                for (var i = 0; i < this.number_of_inputs; i++) {
                    all = all && (!!this.$input(i).val());
                }
                $(this.$refs.addBtn).prop('disabled', !all);
            },
            $input(idx) { return $(`#${this.name}_${idx}`); },
            $label(idx) { return $(`label[for=${this.name}_${idx}]`); },
            $deleteBtn(idx) { return $(`#del_${this.name}_${idx}`); },
        },
        computed: {
            $container() { return $(`#${this.name}`); },
            max_inputs() { return this.maxFiles ? parseInt(this.maxFiles) : 1 },
        }
    }
</script>
<style>
.custom-file-label {
    cursor: pointer;
}
.custom-file-label::after {
    color: white;
    background-color: #A42339;
    border-color: #A42339;
}
.btn-outline-danger {
    margin: 1px;
}
.btn-outline-danger > * {
  pointer-events: none;
}
</style>
