<template>
    <div class="form-group">
        <label :for="name">{{label}} <span v-if="required" class="text-danger">*</span></label>
        <select class="select2 form-control"
                :name="name" :id="name"
                v-model="selected"
                :disabled="should_disable">
                <option class="no-val" value="0" v-if="none">{{none}}</option>
                <slot></slot>
        </select>
        <span v-if="tooltip" class="form-text text-info">
            {{ tooltip }}
        </span>
        <span class="form-text text-danger"
            v-if="error">{{error}}</span>
    </div>
</template>
<script>
    export default {
        props: ['name', 'label', 'none', 'filter', 'error', 'value', 'usesStore', 'tooltip', 'required'],
        data: function () {
            return {
                selected: 0,
                should_disable: false
            }
        },
        created() {
            //Initial value if none given
            if (this.value) {
                this.selected = this.value;
            }
            this.updateShouldDisable();

        },
        mounted() {
            // Create select 2
            this.createSelect2();
            if (this.value) {
                this.resetSelectTo(this.value);
            }

        },
        methods: {
            updateShouldDisable() {
                this.should_disable = !this.selected && !!this.filter && (this.selected_filter === null || this.selected_filter == 0);
            },
            createSelect2() {
                this.$select.select2({width: '100%', language:'es'});
                this.$select.on('select2:select', (e) => {
                    this.triggerChange(e.params.data.id, e.params.data.text);
                });
                // If the default is selected, just set as null,
                // so no value is send to server
                if (this.selected == 0) {
                    this.selected = null;
                }
                if (this.usesStore) {
                    this.$store.commit(this.store_action_name, this.selected);
                }
            },
            triggerChange(selected_id, selected_text) {
                this.selected = selected_id;
                if (this.usesStore) {
                    this.$store.commit(this.store_action_name, this.selected);
                }
            },
            resetSelectTo(val) {
                this.selected = val;
                if (this.usesStore) {
                    this.$store.commit(this.store_action_name, val);
                }
                this.$select.val(`${val}`);
            }
        },
        computed: {
            selected_filter_name() { return 'selected_'+this.filter; },
            store_action_name() { return 'change_'+this.name; },
            $select() { return $(`#${this.name}`); },
            selected_filter() {
                return  !this.filter ? null :
                            this.$store.state[this.selected_filter_name];
            }
        },
        watch: {
            selected_filter (newVal, oldVal) {
                this.$select.select2('destroy');
                this.$select.find(`option:not(.no-val)`).prop('disabled', false);
                this.$select.find(`option[data-filter!=${newVal}]:not(.no-val)`).prop('disabled', true);
                this.updateShouldDisable();
                if (this.value) {
                    this.resetSelectTo(this.value);
                }
                if (newVal !== oldVal) {
                    this.resetSelectTo(0);
                }
                this.$select.select2({width: '100%', language:'es'});
            }
        }
    }
</script>
<style>
.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}
</style>
