<template>
    <div class="form-check">
        <label class="form-check-label" :for="name">{{ label }}</label>
        <input class="form-check-input" type="checkbox"
            :value="value"
            :id="name" :name="name" v-model="is_checked">
        <span v-if="tooltip" class="form-text text-info">
            {{ tooltip }}
        </span>
    </div>
</template>
<script>
    export default {
        props: ['name', 'value', 'label', 'on_text', 'off_text', 'tooltip'],
        data: function () {
            return {
                is_checked: this.value || false,
                on_label: this.on_text || 'Si',
                off_label: this.off_text || 'No',
            }
        },
        mounted() {
            // Create toggle
            this.createToggle();
        },
        methods: {
            createToggle() {
                this.$toggle.bootstrapToggle({
                    on: this.on_label,
                    off: this.off_label
                });
                this.$toggle.bootstrapToggle('off');
            }
        },
        computed: {
            $toggle() { return $(`#${this.name}`); },
        }
    }
</script>
<style>
    .toggle-group .btn-default {
        color: #333;
        background-color: white;
    }
    .btn-default:hover, .btn-default:focus,
    .btn-default:active, .btn-default.active,
    .open>.dropdown-toggle.btn-default {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }
    .toggle-group .btn:active, .btn.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
</style>
